
@{
    ViewData["Title"] = "Index";
}

<h1>Groep 3</h1>
<h3>Studenten:</h3>
<ul>
    <li>Maxim Lejaeghere</li>
    <li>Jarno De Bundel</li>
    <li>Pieter Vanophalvens</li>
</ul>
<h3>
    Takenverdeling:
</h3>
<ul>
    <li>Maxim: Dokters, Persoonlijke apotheek, Authenticatie</li>
    <li>Pieter: Medicijnen, Weather</li>
    <li>Jarno: Patiënten, Styling/CSS</li>
</ul>


